@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --ff-ppal : 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: #333;
    font-size: 16px;
    font-family: var(--ff-ppal);  
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    text-align: center;

  }

  h1 {
      font-size: 4rem;
  }
  h2 {
      font-size: 3.5rem;
  }
  p {
      font-size: 1.6rem;
  }

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem;
  flex-direction: column;
  margin: 1rem;
  min-width: 15rem;
  position: relative;
}

.key small {
  position: absolute;
  top: -2.5rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #999;
  font-size: 1.4rem;
}
